<app-nav headerClass="loding-header nav-abs custom-scroll nav-lg"></app-nav>
@if (promotion) {
<app-header [header]="promotion.header"></app-header>
<app-info [info]="promotion.info"></app-info>
    <app-music-sidebar></app-music-sidebar>
@if (promotion.about) {
<app-about [about]="promotion.about"></app-about>
} @if (promotion.gallery) {
<promotion-detail-gallery
  [gallery]="promotion.gallery"
></promotion-detail-gallery>
} @if (promotion.social) {
<app-social [social]="promotion.social"></app-social>
} @if (promotion.song) {
<app-song [song]="promotion.song"></app-song>
} @if (promotion.footer) {
<app-footer [footer]="promotion.footer"></app-footer>
} }
<app-copyright copyrightClass="dark position-relative"></app-copyright>
<app-tap-to-top></app-tap-to-top>
