<!--blog section start-->
<section class="event blog set-relative">
  <div class="circle"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="title title3">
          <div class="main-title">
            <h2><span>{{gallery.title}}</span></h2>
          </div>
        </div>
      </div>
      <div class="col-12">
        <owl-carousel-o [options]="galleryCarouselOptions">
          @for (g of gallery.gallery.slice(0, 5); track $index) {
          <ng-template carouselSlide class="item">
            <div class="img-container" [style.max-height]="'300px'">
              @switch (g.type) { @case (galleryType.video) { @if (g.thumb) {
              <img [src]="g.thumb" [alt]="g.description" class="img-fluid" />
              } @else {
              <video
                onloadedmetadata="
                  this.muted = true;
                  this.playsinline = true;
                "
                oncanplay="this.play()"
                autoplay
                loop
                playsinline=""
                muted=""
                onplaying="this.controls = false"
                [aria-label]="g.description"
                class="img-fluid"
              >
                <source [src]="g.image" type="{{g.mimeType}}" />
              </video>
              } } @case (galleryType.youtube) {
              <img [src]="g.thumb" [alt]="g.description" class="img-fluid" />
              } @default {
              <img
                [src]="g.thumb ? g.thumb : g.image"
                [alt]="g.description"
                class="img-fluid"
              />
              } }
              <div class="blog-info set-abs bottom-0">
                @if (g.description) {
                <p class="borders-before">
                  <span>{{ g.description }}</span>
                </p>
                } @if (g.type === galleryType.video || g.type ===
                galleryType.youtube) {
                <div class="social-list">
                  <ul>
                    <li>
                      <a (click)="openVerticallyCentered(content)">
                        <div class="center-content">
                          <i
                            class="fa fa-play center-content"
                            aria-hidden="true"
                          ></i>
                        </div>
                      </a>
                      <ng-template #content let-modal>
                        <div class="modal-body video-modal">
                          <button
                            type="button"
                            class="close"
                            [aria-label]="wordings.close"
                            (click)="modal.dismiss('Cross click')"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <iframe
                            class="mfp-iframe"
                            frameborder="0"
                            allowfullscreen=""
                            [src]="updateVideoUrl(g.image + '?autoplay=1')"
                          ></iframe>
                        </div>
                      </ng-template>
                    </li>
                  </ul>
                </div>
                }
              </div>
            </div>
          </ng-template>
          }
        </owl-carousel-o>
      </div>
    </div>
    <div class="text-center mt-4">
      <a
        [routerLink]="['/promotions/' + gallery.id + '/gallery']"
        class="btn btn-default primary-btn m-0-auto"
        >{{wordings.see_all}}</a
      >
    </div>
  </div>
</section>
<!--blog section end-->
