@import "theme/variable";
$primary: #6b97be;
$secondary: #dabc4b;
$light: #b1d7ed;
$dark: #283a59;
$font-awesome: FontAwesome;
@import "theme/style";
@import "theme/responsive";
@import "theme/customize";
@import "theme/theme-dark";
@import "theme/theme-rtl";