<!--counter section start-->
<section
  class="event counter set-relative bg bg-img3 bg-about"
  [style.background-image]="'url(' + social.background + ')'"
>
  <div class="container">
    <div class="row">
      @for(s of social.social.slice(0, 4); track $index){
      <div class="col-md-3 col-6 counter-container position-relative">
        <div class="counters">
          <i class="fa fa-{{s.icon}} counter-img" aria-hidden="true"></i>
          <div class="counter-text">
            <h6 class="count-desc text-center text-white">
              <a
                target="_blank"
                [href]="s.link"
                class="stretched-link text-white"
              >
                {{s.title}}
              </a>
            </h6>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
<!--counter section end-->
