@if (album) {
<div
  id="side-section"
  class="music side-section"
  [style.display]="sideBarDisplay"
>
  <div class="jp-jplayer"></div>
  <div class="jp-audio" role="application" aria-label="media player">
    <div class="jp-type-playlist">
      <div class="jp-gui jp-interface">
        <div class="side-player">
          <div class="text-center">
            <div class="gradient-block">
              <div class="animation-circle-inverse">
                <i></i>
                <i></i>
                <i></i>
              </div>
              @if (currentTrack() !== undefined) {
              <h6 class="now-play text-white">{{currentTrack()?.name}}</h6>
              }
            </div>
            <img
              [src]="album.image"
              [alt]="album.name"
              class="img-fluid girls"
            />
            <div class="author-text">
              <h5 class="m-b-10 song-text">{{album.name}}</h5>
              <h6 class="song-sub-text">{{album.subName}}</h6>
            </div>
          </div>
          <div class="container">
            @if (album.platforms.length > 0) {
            <div class="jp-controls">
              <div class="button-container">
                @for (platform of album.platforms; track $index) {
                <a
                  target="_blank"
                  [href]="platform.link"
                  [title]="platform.title"
                  class="jp-link"
                >
                  <i
                    aria-hidden="true"
                    class="flaticon-music-{{platform.icon}}"
                  ></i>
                </a>
                }
              </div>
            </div>
            } @if (currentTrack() !== undefined) {
            <div class="jp-time-holder">
              <div role="timer" aria-label="time" class="jp-current-time">
                {{currentTrack()?.name}}
              </div>
            </div>
            }
            <div class="jp-progress" #jpProgress (click)="handleSeek($event)">
              <div class="jp-seek-bar" [style.width]="progress() + '%'">
                <div class="jp-play-bar"></div>
              </div>
            </div>
            <div class="jp-controls">
              <div class="button-container">
                <button
                  class="jp-previous"
                  role="button"
                  tabindex="0"
                  (click)="handlePrevious()"
                ></button>
                <button
                  [class]="isPlaying() ? 'jp-pause' : 'jp-play'"
                  role="button"
                  tabindex="0"
                  (click)="handlePlayPause()"
                ></button>
                <button
                  class="jp-next"
                  role="button"
                  tabindex="0"
                  (click)="handleNext()"
                ></button>
              </div>
              <button class="btn-sidebar" (click)="sideBar()">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </div>
            <div class="jp-playlist py-4 list-group list-group-flush">
              <ul>
                @for (title of album.titles; track title.id) { @if (title.file)
                {
                <li
                  [class]="(currentTrack() === title ? 'active' : '') + ' list-group-item'"
                >
                  <a (click)="handleTrackSelectByTitle(title)">
                    @if (currentTrack() === title) {
                    <i
                      aria-hidden="true"
                      [class]="(isPlaying() ? 'fa-beat' : '') + ' fa fa-headphones'"
                    ></i>
                    } {{title.name}}
                  </a>
                </li>
                } @else {
                <li class="list-group-item disabled">{{ title.name }}</li>
                } }
              </ul>
            </div>
          </div>
          @if (album.titles.length === 0) {
          <div class="jp-no-solution">{{wordings}}</div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
}
