<app-loader></app-loader>
<app-meta></app-meta>
<router-outlet></router-outlet>
<app-music-sidebar></app-music-sidebar>
<div class="theme-pannel-main">
  <ul>
    @if (customize.data.settings.layout_type === 'ltr') {
    <li id="rtl_btn" class="position-relative" [title]="wordingsSettings.rtl">
      <a (click)="customizeLayoutType('rtl')" class="btn setting_btn stretched-link">
        <span class="rtl-txt" [aria-label]="wordingsSettings.rtl">
            <i aria-hidden="true" class="flaticon-setting-rtl"></i>
        </span>
      </a>
    </li>
    } @if (customize.data.settings.layout_type === 'rtl') {
    <li id="ltr_btn" class="position-relative" [title]="wordingsSettings.rtl">
      <a (click)="customizeLayoutType('ltr')" class="btn setting_btn stretched-link">
        <span class="rtl-txt" [aria-label]="wordingsSettings.ltr">
            <i aria-hidden="true" class="flaticon-setting-ltr"></i>
        </span>
      </a>
    </li>
    } @if (customize.data.settings.layout_version === 'dark') {
    <li
      class="sidebar-btn dark-light-btn position-relative"
      [title]="wordingsSettings.light"
    >
      <a (click)="customizeLayoutVersion('light')" class="dark-light stretched-link">
        <span class="theme-layout-version" [aria-label]="wordingsSettings.light">
            <i aria-hidden="true" class="flaticon-setting-sun"></i>
        </span>
      </a>
    </li>
    } @if (customize.data.settings.layout_version === 'light') {
    <li
      class="sidebar-btn dark-light-btn position-relative"
      [title]="wordingsSettings.dark"
    >
      <a (click)="customizeLayoutVersion('dark')" class="dark-light stretched-link">
        <span class="theme-layout-version" [aria-label]="wordingsSettings.dark">
            <i aria-hidden="true" class="flaticon-setting-moon"></i>
        </span>
      </a>
    </li>
    } @if (currentTrack()) {
    <li class="sidebar-btn dark-light-btn position-relative" [title]="wordingsSettings.music">
      <a (click)="sideBar()" class="dark-light stretched-link">
        <span class="theme-layout-version" [aria-label]="wordingsSettings.music">
            <i
                    aria-hidden="true"
                    [class]="(isPlaying() ? 'fa-beat' : '') + ' fa fa-headphones'"
            ></i>
        </span>
      </a>
    </li>
    }
  </ul>
</div>
