<!-- filter Start -->
<section class="event subscribe subscribe-3 set-relative p-t-0 p-b-0 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="subscribe">
                    <div class="center-content">
                        <div class="form-group">
                            <div class="flex">
                                <input
                                        type="text"
                                        class="form-control text-capitalize"
                                        placeholder="{{wordings}}"
                                        name="search"
                                        [formControl]="search"
                                />
                                <div class="button-primary">
                                    <button
                                            type="submit"
                                            class="btn btn-default primary-btn text-white text-capitalize"
                                            (click)="filterProjects()"
                                    >
                                        {{wordings}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- filter End -->
