<!-- header Start-->
<section class="music header" id="header">

    <div class="music-content">
        <div
                class="music-bg bg bg-shadow-top"
                [style.background-image]="'url('+background+')'"
        >
            <div
                    class="text-center w-100"
                    aTilt
                    data-tilt
                    data-tilt-max="3"
                    data-tilt-speed="400"
                    data-tilt-perspective="400"
            >
                <div class="img-height">
                    <img [src]="logo" alt="logo" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
    <div class="left-side">
        @for (text of leftText; track text) {
            <h6 class="follow-text">{{text}}</h6>
        }
    </div>
</section>